{{- define "main" }}
{{- $offsets := partialCached "offsets.html" . }}

<header class="wrap list-header">
  <h1 class="list-title">{{ .Title }}</h1>
  {{- with .Description }}<p class="list-desc">{{ . }}</p>{{ end }}
</header>

{{- $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
{{- if site.Params.ShowAllPagesInArchive }}
{{- $pages = site.RegularPages }}
{{- end }}

<div class="wrap archive">
  {{- range $pages.GroupByPublishDate "2006" }}
  {{- if ne .Key "0001" }}
  {{- $year := replace .Key "0001" "" }}
  <section class="archive-year">
    <h2 class="archive-year-header" id="{{ $year }}"><a class="archive-header-link" href="#{{ $year }}">{{ $year }}</a></h2>
    <ol class="archive-list">
      {{- range .Pages }}
      {{- if eq .Kind "page" }}
      {{- $off := index $offsets .RelPermalink }}
      <li class="archive-entry">
        <a href="{{ .Permalink }}">
          <span class="archive-offset">{{ with $off }}#{{ . }}{{ end }}</span>
          <time class="archive-date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "01-02" }}</time>
          <span class="archive-title">{{ .Title | markdownify }}</span>
        </a>
      </li>
      {{- end }}
      {{- end }}
    </ol>
  </section>
  {{- end }}
  {{- end }}
</div>
{{- end }}{{/* end main */}}
